@import "navbar.css";


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 30px;
    color: #777;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: white;
}

.buttons {
    background-color: #4CAF50; /* Green */
    padding: 10px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.buttons a {
    text-decoration: none;
    color: white;
}

.content {
    padding: 20px;
}
